Restaurante_Siglo_XXI_DESK/Restaurante_Siglo_XXI_DESK/Connected Services/ServiceReference1/Servicios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ServicioWeb/" targetNamespace="http://ServicioWeb/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarBoleta" type="tns:AgregarBoleta" />
  <xs:element name="AgregarBoletaResponse" type="tns:AgregarBoletaResponse" />
  <xs:element name="AgregarReserva" type="tns:AgregarReserva" />
  <xs:element name="AgregarReservaResponse" type="tns:AgregarReservaResponse" />
  <xs:element name="ListDetalle" type="tns:ListDetalle" />
  <xs:element name="ListDetalleResponse" type="tns:ListDetalleResponse" />
  <xs:element name="ListaMesaWS" type="tns:ListaMesaWS" />
  <xs:element name="ListaMesaWSResponse" type="tns:ListaMesaWSResponse" />
  <xs:element name="ListaReserva" type="tns:ListaReserva" />
  <xs:element name="ListaReservaResponse" type="tns:ListaReservaResponse" />
  <xs:element name="ListaReservaWS" type="tns:ListaReservaWS" />
  <xs:element name="ListaReservaWSResponse" type="tns:ListaReservaWSResponse" />
  <xs:complexType name="ListDetalle">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListDetalleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaMesaWS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaMesaWSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mesa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mesa">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="nr_mesa" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioRol_ID_ROL" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioRut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarReserva">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="inicio" type="xs:string" />
      <xs:element minOccurs="0" name="termino" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarBoleta">
    <xs:sequence>
      <xs:element name="Total" type="xs:int" />
      <xs:element name="MontoPagado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:string" />
      <xs:element name="IdPedido" type="xs:int" />
      <xs:element name="IdMesa" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarBoletaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaReserva">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserva">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element name="clienteid" type="xs:int" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="fInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fTermino" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaReservaWS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaReservaWSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reserva" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>